{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
<table class="table bg-white">
    <thead class="bg-info text-white">
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Ordered by</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.product }}</td>
            <td>{{ order.product.category }}</td>
            <td>{{ order.order_quantity }}</td>
            <td>{{ order.staff.username }}</td>
            <td>{{ order.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>
</div>

{% endblock %}